.video-screen {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  border-radius: var(--default-radius);
  grid-row-gap: calc(var(--default-padding)*5);
}

.video-screen>.video-stream {
  width: 100%;
  min-width: 0; /* To prevent content overflow */
  min-height: 0; /* To prevent content overflow */

  background: var(--foreground-rgb);
  border-radius: var(--default-radius);
}

.video-screen>.video-stream>video {
  width: 100%;
  height: 100%;
  object-fit: contain;

  border-radius: var(--default-radius);
}