.main {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: calc(var(--default-padding)*5);
  height: calc(100vh - 75px);
}

.main>section {
  height: 100%;
  min-width: 0; /* To prevent content overflow */
  min-height: 0; /* To prevent content overflow */
}

.main>section:nth-child(1) {
  grid-column: 1 / 5;
}

.main>section:nth-child(2) {
  grid-column: 5 / 11;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  padding: var(--default-padding);
  height: 75px;

  background: var(--background-rgb);
  box-shadow: 0 0 2px 0 var(--glow-shadow);
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-left>h3 {
  color: var(--font-rgb);
  margin-left: var(--default-padding);
  user-select: all;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-right-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: var(--default-padding);

  overflow: hidden;
  max-width: 50px; /* same as image */
  transition: all 0.4s ease-in-out;
}

.navbar-right-user>img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--font-rgb);
  margin-right: var(--default-padding);
}

.navbar-right-user>span {
  min-width: 0;
  white-space: pre; /* Words wont wrap and can overflow parent */

  color: var(--font-rgb);
}

.navbar-right-user:hover {
  max-width: 500px; /* Large enough to fit a name */
}