.main {
  padding: 1vw;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: calc(var(--default-padding)*5);
  height: 100vh;
}

.main>section {
  height: calc(100% - 2vw);
}

.main>section:nth-child(1) {
  grid-column: 1 / 5;
}

.main>section:nth-child(2) {
  grid-column: 5 / 11;
}